body {
  margin: 0;
  background-color: black;
}
.navbar {
  background-color: black;
}

.jumbotron {
  text-align: center;
  background-color: white;
  padding-top: 3rem;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  padding-top: 3rem;
}
footer {
  text-align: center;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
}
