body {
  margin: 0;
  background-color: black; 
}
.navbar {
  background-color: black;
  padding: 10px 100px;
}

.jumbotron{
  text-align: center;
  background-color: white;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}